@import './vars.styl'
@import '@ips/app/sizer.styl'
@import '@ips/app/font-utils.styl'

@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=PT+Mono&family=Press+Start+2P&display=swap');

@keyframes fadeIn
	0%
		opacity 0
	100%
		opacity 1

html.noscroll
body.noscroll
	position: fixed; 
	overflow-y: scroll;
	width: 100%;

body:not(.m-ria)
	background-color grey
	
.ips-app-container
	max-width 1440px
	margin 0 auto
	
.scroll-fixed
	position sticky
	position -webkit-sticky
	// top 0px
	
@keyframes FadeIn
	0%
		opacity 0
	100%
		opacity 1

@keyframes SlideUp
	0%
		transform translateY(50vh)
	100%
		transform translateY(0vh)
		
@keyframes slideInLeft
	0%
		transform translateX(-70%)
		opacity 0
	100%
		transform translateX(0)
		opacity 1
		
@keyframes slideInRight
	0%
		transform translateX(70%)
		opacity 0
	100%
		transform translateX(0)
		opacity 1
	

.gpn-pop-science
	*
		box-sizing border-box
	img
		line-height:  0
		display: block

	// background-color: white

	img.overlay
		line-height: 0

	.size-cover
		width 100%
		height 100%
	.absolute
		position absolute

	.backfader-back
		// height: var(--sy, 100vh)
		&:after
			content: ''
			position absolute
			inset 0
			background-image: linear-gradient(rgba(black, 0) 0%, rgba(black, 0.5) 50%, rgba(black, 0.6) 75%, rgba(black, 0.9) 100%)

	.text
		p
			margin 0
		p + p
			margin-top 1em

	.sticky-frame
		.scroll-fixed
			height calc(var(--sy) * 1px)

	.coverPage
		max-height 900px
	.coverCont
		min-height: 100vh
		// justify-content space-between
		// gap 120px
		gap 10vh
		padding 100px 0 160px 0

	.coverTitle
		display: inline-flex
		flex-direction: column
		span:nth-child(1)
			align-self: flex-start
		span:nth-child(2)
			align-self: center
		span:nth-child(3)
			align-self: flex-end

	.articlePlate
		padding 32px 16px 64px 16px

	.player
		pointer-events: none

	.playerBtn
		pointer-events: auto
		position absolute
		top 0
		left 0
		width 40px
		> .pic
			position absolute
			top 0
			left 0
		&.pressed
			> .pic:first-child
				transform rotate(1/2turn)
			> .pic:nth-child(2)
				transform translate(2px, 2px)

	.articlePlate
		&:before
			content ''
			position absolute
			left 16px
			width calc(100% - 32px)
			top 0
			height: 100%
			background-color: rgba(#0F0F0F, 0.4)

	.articleTitle
		margin-bottom 48px

	.articlePage + .articlePage
		margin-top 100px

	.quoteCont
		padding-top 100px
		padding-bottom 100px
	.quoteAva 
		padding-right 0
		min-width 130px
		width 20%
		img
			border-radius: 50%

	.illCont
		gap 30px
		margin-bottom 64px
		.ill
			flex 0 0 60%
			// width 50%
		&.big
			flex-direction: column
			.ill
				// flex 0 0 100%
				width 100%

.screen-size-regular, .screen-size-small, .screen-size-small, .screen-size-mobile
	// 

.browser-ie
	// 

.topline-ria
	// 
		
.scene-mobile
	// .gpn-pop-science
	// 	.coverPage .slice__container
	// 		//
		
.inline-ria.scene-desktop
//html:not(.inline-ria)
	.hh-rating
		.frame
			padding-top 56px
			
		.sticky-frame
			.scroll-fixed
				top 56px
				height calc(var(--height, 100vh))

